.ul-menu {
  padding: 0;
  margin: 5px 0 0 0;

  display: flex;
  justify-content: center;
  text-align: center;
  width: 1200px;
  background: #282c34;
  border-radius: 5px;

}

.ul-menu > li {
  list-style-type: none;
  font-weight: bold;
  font-size: 30px;
}

.ul-menu > li > a {
  margin-right: 30px;
  margin-left: 30px;

  text-decoration: none;
  color: white;
}

.title-div {
  display: flex;
  justify-content: center;
}

.body-div {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.body-data {
  width: 1200px;
  outline: 5px solid #282c34;
  outline-offset: -5px;
  padding-top: 20px;
  padding-bottom: 20px;
  -moz-outline-radius: 5px;

  display: flex;
  justify-content: center;
}
